.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header {
color: white;
text-decoration: underline;
width: 960px;
margin: 0 auto;
padding: 20px 0;
color: white;
text-decoration: underline;
}

.navContainer {
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

ul {
  width: 250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  li {
    display: block;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, orange, white);
    margin-bottom: 10px 0;
    width: 300px;
    justify-content: center;
  }

  body {
    background: #2980b9;
    color: black;
    font-family: Helvetica;
    text-align: center;
    margin: 0 auto;
  }

ul>li {
  margin-bottom: 10px;
  justify-content: center;
}

.search{
  margin-bottom: 20px;
  width: 300px;
  margin-inline-start: 130px;
}
